USE [QLTruongHoc]
GO
/****** Object:  Table [dbo].[CHUYENNGANH]    Script Date: 17/10/2016 8:32:29 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUYENNGANH](
	[MSCN] [smallint] NOT NULL,
	[TENCN] [nvarchar](40) NOT NULL,
 CONSTRAINT [PK_CHUYENNGANH] PRIMARY KEY CLUSTERED 
(
	[MSCN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DETAI]    Script Date: 17/10/2016 8:32:30 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DETAI](
	[MSDT] [char](6) NOT NULL,
	[TENDT] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DETAI] PRIMARY KEY CLUSTERED 
(
	[MSDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GIAOVIEN]    Script Date: 17/10/2016 8:32:30 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GIAOVIEN](
	[MSGV] [smallint] NOT NULL,
	[TENGV] [nvarchar](50) NOT NULL,
	[DIACHI] [nvarchar](50) NOT NULL,
	[SODT] [char](10) NOT NULL,
	[MSHHAM] [smallint] NULL,
	[NAMHH] [char](4) NULL,
 CONSTRAINT [PK_GIAOVIEN] PRIMARY KEY CLUSTERED 
(
	[MSGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GV_HDDT]    Script Date: 17/10/2016 8:32:30 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GV_HDDT](
	[MSGV] [smallint] NOT NULL,
	[MSDT] [char](6) NOT NULL,
	[DIEM] [float] NOT NULL,
 CONSTRAINT [PK_GV_HDDT] PRIMARY KEY CLUSTERED 
(
	[MSGV] ASC,
	[MSDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GV_HV_CN]    Script Date: 17/10/2016 8:32:30 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GV_HV_CN](
	[MSGV] [smallint] NOT NULL,
	[MSHV] [smallint] NOT NULL,
	[MSCN] [smallint] NOT NULL,
	[NAM] [char](4) NOT NULL,
 CONSTRAINT [PK_GV_HV_CN] PRIMARY KEY CLUSTERED 
(
	[MSGV] ASC,
	[MSHV] ASC,
	[MSCN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GV_PBDT]    Script Date: 17/10/2016 8:32:30 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GV_PBDT](
	[MSGV] [smallint] NOT NULL,
	[MSDT] [char](6) NOT NULL,
	[DIEM] [float] NOT NULL,
 CONSTRAINT [PK_GV_PBDT] PRIMARY KEY CLUSTERED 
(
	[MSGV] ASC,
	[MSDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GV_UVDT]    Script Date: 17/10/2016 8:32:30 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GV_UVDT](
	[MSGV] [smallint] NOT NULL,
	[MSDT] [char](6) NOT NULL,
	[DIEM] [float] NOT NULL,
 CONSTRAINT [PK_GV_UVDT] PRIMARY KEY CLUSTERED 
(
	[MSGV] ASC,
	[MSDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOCHAM]    Script Date: 17/10/2016 8:32:30 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCHAM](
	[MSHH] [smallint] NOT NULL,
	[TENHH] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_HOCHAM] PRIMARY KEY CLUSTERED 
(
	[MSHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOCVI]    Script Date: 17/10/2016 8:32:30 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOCVI](
	[MSHV] [smallint] NOT NULL,
	[TENHV] [varchar](10) NOT NULL,
 CONSTRAINT [PK_HOCVI] PRIMARY KEY CLUSTERED 
(
	[MSHV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOIDONG]    Script Date: 17/10/2016 8:32:30 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOIDONG](
	[MSHD] [smallint] NOT NULL,
	[PHONG] [smallint] NULL,
	[TGBD] [char](5) NULL,
	[NGAYHD] [date] NOT NULL,
	[TINHTRANG] [nvarchar](50) NOT NULL,
	[MSGVCTHD] [smallint] NOT NULL,
 CONSTRAINT [PK_HOIDONG] PRIMARY KEY CLUSTERED 
(
	[MSHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOIDONG_DETAI]    Script Date: 17/10/2016 8:32:30 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOIDONG_DETAI](
	[MSHD] [smallint] NOT NULL,
	[MSDT] [char](6) NOT NULL,
	[QUYETDINH] [nchar](10) NULL,
 CONSTRAINT [PK_HOIDONG_DETAI] PRIMARY KEY CLUSTERED 
(
	[MSHD] ASC,
	[MSDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOIDONG_GV]    Script Date: 17/10/2016 8:32:30 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOIDONG_GV](
	[MSHD] [smallint] NOT NULL,
	[MSGV] [smallint] NOT NULL,
 CONSTRAINT [PK_HOIDONG_GV] PRIMARY KEY CLUSTERED 
(
	[MSHD] ASC,
	[MSGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 17/10/2016 8:32:30 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MSSV] [char](6) NOT NULL,
	[TENSV] [nvarchar](50) NOT NULL,
	[SODT] [char](10) NULL,
	[LOP] [char](6) NOT NULL,
	[DIACHI] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MSSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SV_DETAI]    Script Date: 17/10/2016 8:32:30 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SV_DETAI](
	[MSSV] [char](6) NOT NULL,
	[MSDT] [char](6) NOT NULL,
 CONSTRAINT [PK_SV_DETAI] PRIMARY KEY CLUSTERED 
(
	[MSSV] ASC,
	[MSDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CHUYENNGANH] ([MSCN], [TENCN]) VALUES (1, N' Hệ thống thông tin')
INSERT [dbo].[CHUYENNGANH] ([MSCN], [TENCN]) VALUES (2, N'Mạng')
INSERT [dbo].[CHUYENNGANH] ([MSCN], [TENCN]) VALUES (3, N'Đồ Họa')
INSERT [dbo].[DETAI] ([MSDT], [TENDT]) VALUES (N'97001 ', N'Quản lý thư viện')
INSERT [dbo].[DETAI] ([MSDT], [TENDT]) VALUES (N'97002 ', N'Nhận dạng vân tay')
INSERT [dbo].[DETAI] ([MSDT], [TENDT]) VALUES (N'97003 ', N'Đấu giá trực tuyến')
INSERT [dbo].[GIAOVIEN] ([MSGV], [TENGV], [DIACHI], [SODT], [MSHHAM], [NAMHH]) VALUES (1, N'Nguyễn Văn An', N'11 NGT', N'0987234671', 1, NULL)
INSERT [dbo].[GIAOVIEN] ([MSGV], [TENGV], [DIACHI], [SODT], [MSHHAM], [NAMHH]) VALUES (2, N'Trần Thu Trang', N'84 NT', N'0982765123', 1, NULL)
INSERT [dbo].[GIAOVIEN] ([MSGV], [TENGV], [DIACHI], [SODT], [MSHHAM], [NAMHH]) VALUES (3, N'Lê Trung', N'65 LLQ', N'0918276453', 1, NULL)
INSERT [dbo].[GV_HDDT] ([MSGV], [MSDT], [DIEM]) VALUES (1, N'97001 ', 7)
INSERT [dbo].[GV_HDDT] ([MSGV], [MSDT], [DIEM]) VALUES (2, N'97002 ', 8)
INSERT [dbo].[GV_HDDT] ([MSGV], [MSDT], [DIEM]) VALUES (3, N'97003 ', 9)
INSERT [dbo].[GV_HV_CN] ([MSGV], [MSHV], [MSCN], [NAM]) VALUES (1, 1, 1, N'1999')
INSERT [dbo].[GV_HV_CN] ([MSGV], [MSHV], [MSCN], [NAM]) VALUES (1, 1, 2, N'1999')
INSERT [dbo].[GV_HV_CN] ([MSGV], [MSHV], [MSCN], [NAM]) VALUES (1, 2, 1, N'1998')
INSERT [dbo].[GV_PBDT] ([MSGV], [MSDT], [DIEM]) VALUES (1, N'97001 ', 7)
INSERT [dbo].[GV_PBDT] ([MSGV], [MSDT], [DIEM]) VALUES (2, N'97002 ', 7)
INSERT [dbo].[GV_PBDT] ([MSGV], [MSDT], [DIEM]) VALUES (3, N'97003 ', 8)
INSERT [dbo].[GV_UVDT] ([MSGV], [MSDT], [DIEM]) VALUES (1, N'97003 ', 7)
INSERT [dbo].[GV_UVDT] ([MSGV], [MSDT], [DIEM]) VALUES (2, N'97003 ', 6)
INSERT [dbo].[GV_UVDT] ([MSGV], [MSDT], [DIEM]) VALUES (2, N'97005 ', 8)
INSERT [dbo].[HOCHAM] ([MSHH], [TENHH]) VALUES (1, N'Phó giáo sư')
INSERT [dbo].[HOCHAM] ([MSHH], [TENHH]) VALUES (2, N'Giáo sư')
INSERT [dbo].[HOCVI] ([MSHV], [TENHV]) VALUES (1, N'KS')
INSERT [dbo].[HOCVI] ([MSHV], [TENHV]) VALUES (2, N'CN')
INSERT [dbo].[HOCVI] ([MSHV], [TENHV]) VALUES (3, N'Th.S')
INSERT [dbo].[HOIDONG] ([MSHD], [PHONG], [TGBD], [NGAYHD], [TINHTRANG], [MSGVCTHD]) VALUES (1, 2, N'7:00 ', CAST(N'2002-10-30' AS Date), N'Thật', 1)
INSERT [dbo].[HOIDONG] ([MSHD], [PHONG], [TGBD], [NGAYHD], [TINHTRANG], [MSGVCTHD]) VALUES (2, 102, N'7:00 ', CAST(N'2002-10-30' AS Date), N'Thật', 2)
INSERT [dbo].[HOIDONG] ([MSHD], [PHONG], [TGBD], [NGAYHD], [TINHTRANG], [MSGVCTHD]) VALUES (3, 3, N'8:00 ', CAST(N'2014-07-13' AS Date), N'', 3)
INSERT [dbo].[HOIDONG_DETAI] ([MSHD], [MSDT], [QUYETDINH]) VALUES (1, N'97001 ', N'Được      ')
INSERT [dbo].[HOIDONG_DETAI] ([MSHD], [MSDT], [QUYETDINH]) VALUES (1, N'97002 ', N'Được      ')
INSERT [dbo].[HOIDONG_DETAI] ([MSHD], [MSDT], [QUYETDINH]) VALUES (2, N'97003 ', N'Được      ')
INSERT [dbo].[HOIDONG_GV] ([MSHD], [MSGV]) VALUES (1, 1)
INSERT [dbo].[HOIDONG_GV] ([MSHD], [MSGV]) VALUES (1, 2)
INSERT [dbo].[HOIDONG_GV] ([MSHD], [MSGV]) VALUES (1, 3)
INSERT [dbo].[SINHVIEN] ([MSSV], [TENSV], [SODT], [LOP], [DIACHI]) VALUES (N'97TH01', N'Nguyễn Văn An', N'0988854321', N'97CT02', N'12 NKKN                                           ')
INSERT [dbo].[SINHVIEN] ([MSSV], [TENSV], [SODT], [LOP], [DIACHI]) VALUES (N'97TH02', N'Trần Thị Bé', N'0923889226', N'97CT02', N'13/4 LTK')
INSERT [dbo].[SINHVIEN] ([MSSV], [TENSV], [SODT], [LOP], [DIACHI]) VALUES (N'97TH03', N'Lương Khởi', N'0916227884', N'97CT02', N'87 Âu Cơ')
INSERT [dbo].[SV_DETAI] ([MSSV], [MSDT]) VALUES (N'97TH01', N'97004 ')
INSERT [dbo].[SV_DETAI] ([MSSV], [MSDT]) VALUES (N'97TH02', N'97005 ')
INSERT [dbo].[SV_DETAI] ([MSSV], [MSDT]) VALUES (N'97TH03', N'97001 ')
ALTER TABLE [dbo].[GIAOVIEN]  WITH CHECK ADD  CONSTRAINT [FK_GIAOVIEN_HOCHAM] FOREIGN KEY([MSHHAM])
REFERENCES [dbo].[HOCHAM] ([MSHH])
GO
ALTER TABLE [dbo].[GIAOVIEN] CHECK CONSTRAINT [FK_GIAOVIEN_HOCHAM]
GO
ALTER TABLE [dbo].[GV_HDDT]  WITH CHECK ADD  CONSTRAINT [FK_GV_HDDT_DETAI] FOREIGN KEY([MSDT])
REFERENCES [dbo].[DETAI] ([MSDT])
GO
ALTER TABLE [dbo].[GV_HDDT] CHECK CONSTRAINT [FK_GV_HDDT_DETAI]
GO
ALTER TABLE [dbo].[GV_HV_CN]  WITH CHECK ADD  CONSTRAINT [FK_GV_HV_CN_CHUYENNGANH] FOREIGN KEY([MSCN])
REFERENCES [dbo].[CHUYENNGANH] ([MSCN])
GO
ALTER TABLE [dbo].[GV_HV_CN] CHECK CONSTRAINT [FK_GV_HV_CN_CHUYENNGANH]
GO
ALTER TABLE [dbo].[GV_HV_CN]  WITH CHECK ADD  CONSTRAINT [FK_GV_HV_CN_GIAOVIEN] FOREIGN KEY([MSGV])
REFERENCES [dbo].[GIAOVIEN] ([MSGV])
GO
ALTER TABLE [dbo].[GV_HV_CN] CHECK CONSTRAINT [FK_GV_HV_CN_GIAOVIEN]
GO
ALTER TABLE [dbo].[GV_HV_CN]  WITH CHECK ADD  CONSTRAINT [FK_GV_HV_CN_HOCVI] FOREIGN KEY([MSHV])
REFERENCES [dbo].[HOCVI] ([MSHV])
GO
ALTER TABLE [dbo].[GV_HV_CN] CHECK CONSTRAINT [FK_GV_HV_CN_HOCVI]
GO
ALTER TABLE [dbo].[GV_PBDT]  WITH CHECK ADD  CONSTRAINT [FK_GV_PBDT_DETAI] FOREIGN KEY([MSDT])
REFERENCES [dbo].[DETAI] ([MSDT])
GO
ALTER TABLE [dbo].[GV_PBDT] CHECK CONSTRAINT [FK_GV_PBDT_DETAI]
GO
ALTER TABLE [dbo].[GV_UVDT]  WITH CHECK ADD  CONSTRAINT [FK_GV_UVDT_DETAI] FOREIGN KEY([MSDT])
REFERENCES [dbo].[DETAI] ([MSDT])
GO
ALTER TABLE [dbo].[GV_UVDT] CHECK CONSTRAINT [FK_GV_UVDT_DETAI]
GO
ALTER TABLE [dbo].[HOIDONG]  WITH CHECK ADD  CONSTRAINT [FK_HOIDONG_GIAOVIEN] FOREIGN KEY([MSGVCTHD])
REFERENCES [dbo].[GIAOVIEN] ([MSGV])
GO
ALTER TABLE [dbo].[HOIDONG] CHECK CONSTRAINT [FK_HOIDONG_GIAOVIEN]
GO
ALTER TABLE [dbo].[HOIDONG_DETAI]  WITH CHECK ADD  CONSTRAINT [FK_HOIDONG_DETAI_DETAI] FOREIGN KEY([MSDT])
REFERENCES [dbo].[DETAI] ([MSDT])
GO
ALTER TABLE [dbo].[HOIDONG_DETAI] CHECK CONSTRAINT [FK_HOIDONG_DETAI_DETAI]
GO
ALTER TABLE [dbo].[HOIDONG_DETAI]  WITH CHECK ADD  CONSTRAINT [FK_HOIDONG_DETAI_HOIDONG] FOREIGN KEY([MSHD])
REFERENCES [dbo].[HOIDONG] ([MSHD])
GO
ALTER TABLE [dbo].[HOIDONG_DETAI] CHECK CONSTRAINT [FK_HOIDONG_DETAI_HOIDONG]
GO
ALTER TABLE [dbo].[HOIDONG_GV]  WITH CHECK ADD  CONSTRAINT [FK_HOIDONG_GV_GIAOVIEN] FOREIGN KEY([MSGV])
REFERENCES [dbo].[GIAOVIEN] ([MSGV])
GO
ALTER TABLE [dbo].[HOIDONG_GV] CHECK CONSTRAINT [FK_HOIDONG_GV_GIAOVIEN]
GO
ALTER TABLE [dbo].[HOIDONG_GV]  WITH CHECK ADD  CONSTRAINT [FK_HOIDONG_GV_HOIDONG] FOREIGN KEY([MSHD])
REFERENCES [dbo].[HOIDONG] ([MSHD])
GO
ALTER TABLE [dbo].[HOIDONG_GV] CHECK CONSTRAINT [FK_HOIDONG_GV_HOIDONG]
GO
ALTER TABLE [dbo].[SV_DETAI]  WITH CHECK ADD  CONSTRAINT [FK_SV_DETAI_DETAI] FOREIGN KEY([MSDT])
REFERENCES [dbo].[DETAI] ([MSDT])
GO
ALTER TABLE [dbo].[SV_DETAI] CHECK CONSTRAINT [FK_SV_DETAI_DETAI]
GO
ALTER TABLE [dbo].[SV_DETAI]  WITH CHECK ADD  CONSTRAINT [FK_SV_DETAI_SINHVIEN] FOREIGN KEY([MSSV])
REFERENCES [dbo].[SINHVIEN] ([MSSV])
GO
ALTER TABLE [dbo].[SV_DETAI] CHECK CONSTRAINT [FK_SV_DETAI_SINHVIEN]
GO
